<section class="container py-8 py-lg-10">
    <h2 class="brand-post-heading text-center">How it works</h2>

    <div class="row align-items-center py-8 py-lg-10">
        <div class="col-sm-6 order-sm-1">
            <img class="mr-8 mr-sm-0" src="{{ blox.page.path }}assets/images/questions.svg" alt=""/>
        </div>
        <div class="col-sm-6">
            <h3 class="font-weight-light mb-5">Take Quiz</h3>
            <p class="lead">Answer some simple questions that can give us insights into your current situation. We will use these answers for your primary psychological assessment.</p>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-sm-6">
            <img class="mr-8 mr-sm-0" src="{{ blox.page.path }}assets/images/reading.svg" alt=""/>
        </div>
        <div class="col-sm-6 order-sm-1">
            <h3 class="font-weight-light mb-5">Get Results</h3>
            <p class="lead">Receive assessment results and personal feedback immediately. We can give you an indication of whether you are close to or currently suffering from burnout and a plan for recovery.</p>
        </div>
    </div>

    <div class="row align-items-center py-8 py-lg-10">
        <div class="col-sm-6 order-sm-1">
            <img class="mr-8 mr-sm-0" src="{{ blox.page.path }}assets/images/relaxing.svg" alt=""/>
        </div>
        <div class="col-sm-6">
            <h3 class="font-weight-light mb-5">Improve</h3>
            <p class="lead">Use our resources to recover from Burnout and return joy to your life. Join the Burnout Advice community and get support from others who are currently or have been in a similar situation.</p>
        </div>
    </div>

    <div class="text-center">
        <a class="btn btn-outline-primary d-block d-sm-inline-block" href="/quiz/" role="button">Get Started</a>
    </div>

</section>